#playButton:hover{
	-fx-underline:true; 
}
#creditButton:hover{
	-fx-underline:true; 
}
#returnButton:hover{
	-fx-underline:true; 
}
#battleB:hover{
	-fx-underline:true; 
}
#titleButton:hover{
	-fx-underline:true; 
}
#submitButton:hover{
	-fx-underline:true; 
}
#basicAttackButton:hover{
  -fx-background-color: #b11313 !important;
  -fx-border-color:white;
}

#basicAttackButton:pressed{
  -fx-background-color: #fab4b0 !important;
}

#multiAttackButton:hover{
  -fx-background-color: #b11313 !important;
  -fx-border-color:white;
}

#multiAttackButton:pressed{
  -fx-background-color: #fab4b0 !important;
}

#healButton:hover{
  -fx-background-color: #25a92a !important;
  -fx-border-color:white;
}

#healButton:pressed{
  -fx-background-color: #85ff89 !important;
}

#defendButton:hover{
  -fx-background-color: #155094 !important;
  -fx-border-color:white;
}

#defendButton:pressed{
  -fx-background-color: #92bded !important;
}