#playButton:hover{
	-fx-underline:true; 
}
#creditButton:hover{
	-fx-underline:true; 
}
#returnButton:hover{
	-fx-underline:true; 
}
#battleB:hover{
	-fx-underline:true; 
}
#titleButton:hover{
	-fx-underline:true; 
}
#submitButton:hover{
	-fx-underline:true; 
}
#victoryTable{
	-fx-font-family:"Upheaval TT (BRK)";
	-fx-text-fill:white;
}
#sT{
	-fx-font-family:"Upheaval TT (BRK)";
	-fx-font-size:30pt;
	-fx-alignment:center;
	-fx-text-alignment:center;
} 
#sButton:hover{
	-fx-underline:true; 
}

#basicAttackButton:hover{
  -fx-background-color: #b11313 !important;
  -fx-border-color:white;
}

#basicAttackButton:pressed{
  -fx-background-color: #fab4b0 !important;
}

#multiAttackButton:hover{
  -fx-background-color: #b11313 !important;
  -fx-border-color:white;
}

#multiAttackButton:pressed{
  -fx-background-color: #fab4b0 !important;
}

#healButton:hover{
  -fx-background-color: #25a92a !important;
  -fx-border-color:white;
}

#healButton:pressed{
  -fx-background-color: #85ff89 !important;
}

#defendButton:hover{
  -fx-background-color: #155094 !important;
  -fx-border-color:white;
}

#defendButton:pressed{
  -fx-background-color: #92bded !important;
  }
  
#nameText{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
#BattleText{
	-fx-alignment:top-left;
	-fx-text-alignment:left;
	-fx-text-fill:white;
}
#dice1{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
#playerMana{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
#manaL{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:blue;
}
#endTurn:hover{
	-fx-underline:true; 
}
#battleWonScene:hover{
	-fx-underline:true; 
}
#healthL{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:green;
}
#shieldL{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:yellow;
}
#enemyHpL{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:green;
}
#EnemyHealth{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
#ShieldValue{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
#playerHealth{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
#shieldValue{
	-fx-alignment:center;
	-fx-text-alignment:center;
	-fx-text-fill:white;
}
  