#playButton:hover{
	-fx-underline:true; 
}
#creditButton:hover{
	-fx-underline:true; 
}
#returnButton:hover{
	-fx-underline:true; 
}
#battleB:hover{
	-fx-underline:true; 
}
#titleButton:hover{
	-fx-underline:true; 
}
#submitButton:hover{
	-fx-underline:true; 
}